# -----------------------------
# dependencies & build
# -----------------------------
node_modules
dist
.cache
*.vsix

# -----------------------------
# system files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE / Editor
# -----------------------------
.idea
.vscode

# -----------------------------
# logs & local files
# -----------------------------
*.log
*.local
